body {
    font-family: Poppins, sans-serif;
    padding: 0;
    margin: 0;
}

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0f258c;
}

.brand-name {
    font-family: "Gotham Black", sans-serif;
    font-size: 30px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 50px;
}

.brand-name a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 40px;
    border-width: medium;
}

.nav-links {
    list-style-type: none;
    margin-right: 50px;
}

.nav-links li {
    display: inline;
    margin: 0 25px;
    vertical-align: center;
    font-size: 20px;
}

.nav-links li a{
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
}

.nav-links li a:hover {
    color: #2b4ce7;
    transition: color 0.2s ease-in-out;
}

.title-wrapper .title-text {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

span {
    font-size: 20px;
}

.question-q {
    color: #0620a6;
    font-size: 40px;
}

.accordion {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    margin: 20px auto;
    overflow: hidden;
}

.accordion-item {
    margin-top: 10px;
}

.accordion-item:last-child {
    border-bottom: none;
}

.accordion-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background: #f5eded;
    border-left: solid #0620a6;
}

.accordion-heading div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-text-content div {
    display: flex;
    align-items: center;
}

.question-q {
    display: flex;
    font-weight: bold;
    align-items: center;
    margin-right: 10px;
    color: #0620a6;
    font-size: 40px;
}

.answer-a {
    display: flex;
    font-weight: bold;
    align-items: center;
    margin-right: 10px;
    color: #8a8181;
    font-size: 40px;
}

.accordion-icon {
    font-size: 25px;
    margin-right: 15px;

}

.accordion-item.active .accordion-icon {
    transform: rotate(45deg);
    transition: transform 0.3s ease; /* Adjust the duration and timing function as needed */
}

.accordion-item .accordion-icon {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
/ * Adjust the duration and timing function as needed * /
}

.accordion-content {
    max-height: 0;
    margin-bottom: 10px;
    overflow: hidden;
    transition: max-height 0.3s ease; /* Adjust the duration and timing function as needed */
}

.accordion-text-content {
    padding: 15px;
    border-left: solid #8a8181;;
}

.accordion-item.active .accordion-content {
    max-height: 200px; /* Adjust the value based on your content */
}

.footer-container {
    padding: 15px;
    background: #0620a6;
    font-family: Poppins, serif;
    font-size: 14px;
    margin-top: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
}