. {
    margin: 0;
    padding: 0;
}


.custom-shape-divider-bottom-1700975517 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 10;
}

.custom-shape-divider-bottom-1700975517 svg {
    position: relative;
    display: block;
    width: calc(109% + 1.3px);
    height: 140px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1700975517 .shape-fill {
    fill: #0620a6;
}

.custom-shape-divider-top-1700975794 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1700975794 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 123px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1700975794 .shape-fill {
    fill: #0620a6;
}


body {
    font-family: Poppins, sans-serif;
    margin: 0;
}

.navigation-bar {
    border-bottom: solid;

}

.brand-name {
    font-family: "Gotham Black", sans-serif;
    font-size: 30px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 50px;
}

.brand-name a {
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-width: medium;
}

.nav-links {
    list-style-type: none;
    margin-right: 50px;
}

.nav-links li {
    display: inline;
    margin: 0 25px;
    vertical-align: center;
}

.nav-links li a {
    text-decoration: none;
    color: black;
}

.hero {
    padding: 45px 60px;
    background: #0620a6;
}

.hero-wave-wrapper {
    position: relative;
}

.hero-contents {
    display: flex;
    justify-content: space-evenly;
}


.textTitle p {
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.hero-textContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px;
    width: 50vh;
}

.textDescription {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.hero-button {
    display: block;
    border: solid;
    padding: 10px;
    border-radius: 8px;
    color: black;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
}

.hero-button:hover {
    border: #fc1e1e solid;
    background-color: red;
    color: white;
}

.WWH-title {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    padding: 0;
    margin: 10px;
}

.WWH-title p {
    margin: 0;
}

.firstBar {
    padding: 50px;
}

.grid-wrapper {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    background-color: #2196F3;
    grid-template-columns: repeat(3, 1fr);
    width: 85%;
    justify-items: center;
    row-gap: 10px;
    padding: 10px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
    width: auto;
}

.grid-item p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    text-align: center;
    margin: 0;
    padding: 0;
}

.grid-picture {
    height: 150px;
    width: inherit;
    background-size: cover;
}

.thirdBar {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.42857;
    color: #555;
    font-family: MindMeridian-Regular, sans-serif;
    font-size: 1.3125rem;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    position: relative;
}

.thirdBarContainer {
    font-size: 1.3125rem;
    box-sizing: border-box;
    display: flex;
    max-width: 73rem;
}

.thirdBarTextHood {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.42857;
    color: #555;
    font-family: MindMeridian-Regular, sans-serif;
    font-size: 1.3125rem;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    max-width: 35.625rem;
}

.thirdBarText {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.42857;
    color: #555;
    font-family: MindMeridian-Regular, sans-serif;
    font-size: 1.3125rem;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    z-index: 10;
    min-width: 345px;
    background: #fff;
    background-color: rgba(255, 255, 255, .9);
    -webkit-box-align: center;
    align-items: center;
    min-height: 360px;
    padding: 2.875rem 4rem;
    margin-right: .9375rem;
    display: flex;
    margin-left: 20px;
}

.thirdBarTextContentContainer {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.42857;
    color: #555;
    font-family: MindMeridian-Regular, sans-serif;
    font-size: 1.3125rem;
    box-sizing: border-box;
    max-width: 31.25rem;
}

.thirdBarTextContentContainer a {
    margin-top: 15px;
}

.thirdBarTextContentContainer span {
    margin-bottom: 15px;
}

.thirdBar-banner {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.42857;
    color: #555;
    font-family: MindMeridian-Regular, sans-serif;
    font-size: 1.3125rem;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 240px;
    left: auto;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    background-image: url('res/thirdBar-pics/cover-photo.png');
    background-position: 50.0% 50.0%;
}

.thirdBar-TextButton {
    text-decoration: none;
    color: black;
    border: 3px blue solid;
    padding: 8px;
    border-radius: 6px;
}

.testsContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.anxietyTestContainer {
    display: flex;
    flex-direction: column-reverse;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    background-image: url('res/mental_tests-pic/anxiety.jpeg');
    background-position: top;
}

.anxietyTextContainer {
    background: rgba(255, 255, 255, 0.34);
    padding: 15px;
}

.anxietyTextContainer h4, p {
    margin: 0;
}

.anxietyTextContainer h4 {
    font-size: 25px;
}

.anxietyTextContainer a {
    color: black;
}

.depressionTestContainer {
    display: flex;
    flex-direction: column-reverse;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    background-image: url('res/mental_tests-pic/depression.jpeg');
    background-position: top;
}

.depressionTextContainer {
    background: rgba(255, 255, 255, 0.34);
    padding: 15px;
}

.depressionTextContainer h4, p {
    margin: 0;
}

.depressionTextContainer h4 {
    font-size: 25px;
}

.depressionTextContainer a {
    color: black;
}

.addictionTestContainer {
    display: flex;
    flex-direction: column-reverse;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    background-image: url('res/mental_tests-pic/addiction.jpg');
    background-position: top;
}

.addictionTextContainer h4, p {
    margin: 0;
}

.addictionTextContainer h4 {
    font-size: 25px;
}

.addictionTextContainer a {
    color: black;
}

.addictionTextContainer {
    background: rgba(255, 255, 255, 0.34);
    padding: 15px;
}

.who-we-help {
    padding: 50px;
}

.persons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.students-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 15px;
}

.students-text-wrapper {
    width: 30rem;
    margin-left: 20px;
}

.students-text-wrapper p {
    font-size: 20px;
}

.young-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 15px;
}

.young-text-wrapper {
    width: 30rem;
    margin-left: 20px;
}

.young-text-wrapper p {
    font-size: 20px;
}